*{
    margin: 0;
    padding: 0;
}

.buttonActive{
        background-color: red;
}

.closeBtn{
        position: fixed;
        right: 0;
        top:0;
        height: 40px;
        width: 40px;
        border: none;
        background-color: #f55;
        border-radius: 0px 10px 0px 0px;
        z-index: 20;
        transition: all 0.5s;
        font-weight: 500;
}
.closeBtn:hover{
    background-color: rgb(236, 13, 13);
    font-size: 20px;
}

.overlay {
    /* background-color: rgba(0,0,0,0.9); */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.modalContainer {
    /* max-width: 800px; */
    max-height: 70%;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;

}
.TargetScroll{
    width: 95%;
    margin:auto;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    padding: 10px;
    
}

.TargetScroll::-webkit-scrollbar{
    width: 2px;
    display: none;
 }



.headerTittle{
    background-color: #000;
    height: 40px;
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0px 0px;
    font-size: 23px;
    font-weight: 600;
    padding-top:3px;
    padding-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    /* text-shadow: 1px 1px 1px #ccc; */
}

.hrDivition{
    background-color: black;

}
.tableContainer{
    margin-top: 20px;
    overflow-y:auto;
    /* overflow-y:auto; */
    box-sizing: border-box;
}


.InputAdd>div>textarea {
    resize: none;
}

@media screen and (max-width:800px) {
    .modalContainer{
        max-height: 70%;
        width: 80%;

    }

    .modalContainer::-webkit-scrollbar{
        width: 1px;
    }
    
    .headerTittle{
       font-size: 14px;
       
    }
}