@import url('https://cdn.syncfusion.com/ej2/material.css');

.targetHome{
    position: fixed;
    height: 400px;
    width: 60%;
    background-color: black;

    bottom: 63%;
    left: 22%;
    z-index: 10;

}

.containerHome{
    position: relative;
    height: 200px;
    margin-top: 410px;

    
}


/* .inicioHome{
    position: fixed;
    top:40%;
    left: 32%;
    font-size: 40px;
    color: #fff;
    background-color: black;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
} */



/* .imgHome{
    position: fixed;
    left: 53%;
    z-index: -10;
    width: 400px;
    height: 108px;
    animation-name: aumentar;
    animation-duration: 4s;
    animation-name: 1s;
    animation-iteration-count: 1;
    
}


@keyframes aumentar {
    0%{
        width:200px;
        height: 54px;
        left: 32%;
    }

    
}



.imgHome{
    
    filter: invert(90%);
  } */

@media  screen and (max-width:600px) {
    .inicioHome{
        width: 50%;
        left: 30%;
        
    }

    .imgHomeContainer{
        left: 35%;
    }
}

.containerLoginForm{
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    background: rgb(98,98,98);
background: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(191,191,191,1) 51%, rgba(193,193,193,1) 100%);
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    position: relative;
}   

.tituloHome{
    text-align: center;
    margin-top: 400px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    /* text-shadow: 2px 2px 6px grey; */
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

.headerFormLogin{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    border-radius: 5px 5px 0px 0px;
}




.imgHome2{
    position: fixed;
    /* filter: invert(90%); */
    /* height: 208px; */
    top: 150px;
    width: 30%;
    left: 35%;
    animation-name: up;
    animation-duration: 2s;
    z-index: 50;
    animation-iteration-count: 1;
    filter: invert(100%);
    
}

@keyframes down{
    0%{
        transform: translateY(-220%);
        color: #fff;
        font-size: 15;
    }

    50%{
        
    }
}

@keyframes up{
0%{
    transform: translateY(80%);
    
}
}